In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('deu_mixed-typical_2011_10K-words.txt', names = ['id', 'word', 'freq'], sep='\t')

In [3]:
df.head()

    id word  freq
0  101  der  1793
1  102  die  1648
2  103  Die  1393
3  104  ist  1015
4  105  Das   715

In [5]:
pd.Series(df['word'].unique()).to_csv('actual_vocab.csv', index=False)